.movie-container {
  position: relative;
  display: flex;
  padding: 15px;
  flex-direction: column;
  color: white;
}

.movie-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  margin-bottom: 5rem;
}

.fav-icon {
  display: flex;
  align-items: end;
  margin-left: auto;
  margin-top: 1rem;
  margin-right: 2%;
}

.movie-title {
  position: absolute;
  font-size: 6rem;
  padding: 15px;
  font-family: 'Clash Display Semibold';
  text-align: center;
  color: white;
}

.movie-media {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.movie-poster {
  max-width: 800px;
  max-height: auto;
  margin-right: 10px;
  border-radius: 8px;
}

.trailer-container {
  position: relative;
  width: 960px;
  max-width: 960px;
  height: 540px;
  margin-left: 10px;
  border-radius: 12px;
  overflow: hidden;
}

.trailer-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.movie-details-container {
  overflow-y: auto;
  max-height: calc(100vh - 400px);
  padding: 20px;
}

.movie-details {
  font-size: 4rem;
  font-family: 'Clash Display Light';
  text-align: left;
  color: white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movie-comp {
  padding: 10px;
  width: 100%;
  text-align: justify;
  font-size: 2.5rem;
  margin-top: 10px;
}

.additional-details {
  display: flex;
  margin-top: 15px;
  font-size: 4rem;
  font-family: 'Clash Display Light';
  text-align: left;
  color: white;
}

.release-date,
.cast-list {
  margin-right: 100px;
}

.release-date h3,
.cast-list h3 {
  margin-bottom: 10px;
}

.release-date p,
.cast-list ul {
  padding: 10px;
  text-align: justify;
  font-size: 2.5rem;
}

.comments {
  margin-top: 50px;
  margin-inline-start: 1rem;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  height: 800px;
  font-size: 2rem;
}

.comment-top {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 20px;
}

.comment {
  display: flex;
  margin-inline-start: 2rem;
  flex-direction: column;
  align-items: start;
  margin-bottom: 20px;
}

.comment-header {
  display: flex;
  align-items: start;
}

.comment-icon {
  color: #75e2ff;
}

.comment-icon > * {
  margin-right: 1rem;
}

.comment-username {
  margin-top: 5px;
  color: aliceblue;
  font-family: 'Clash Display Regular';
  font-size: 3rem;
  display: flex;
  align-items: center;
}

.comment-content {
  margin-left: 6rem;
  flex-grow: 1;
}

.comment-text {
  font-family: 'Clash Display Regular';
  font-size: 2.5rem;
  color: aliceblue;
}

.comment-date {
  font-family: 'Clash Display Regular';
  opacity: 0.6;
  font-size: 1rem;
  color: aliceblue;
}

.comment-form {
  flex-direction: row;
}

.con-fav {
  --blue: rgb(102, 252, 241);
  position: relative;
  width: 50px;
  height: 50px;
}

.con-fav .fav {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
  appearance: none; /* Remove default appearance */
}

.con-fav .fav:checked {
  background-color: var(--blue); /* Fill the checkbox background with blue */
  fill: var(--blue); /* Fill the checkbox background with blue */
}

.con-fav .checkmark {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-fav .outline,
.con-fav .filled {
  fill: var(--blue);
  position: absolute;
}

.con-fav .filled {
  fill: var(--blue);
  animation: kfr-filled 0.5s;
  display: none;
}

.con-fav .celebrate {
  position: absolute;
  animation: kfr-celebrate 0.5s;
  animation-fill-mode: forwards;
  display: none;
}

.con-fav .poly {
  stroke: var(--blue);
  fill: var(--blue);
}

.con-fav .fav:checked ~ .checkmark .filled {
  display: block;
}

.con-fav .fav:checked ~ .checkmark .celebrate {
  display: block;
}

@keyframes kfr-filled {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes kfr-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
    display: none;
  }
}
