.container-input {
    position: relative;
    margin-right: -5px;
    color: white;
  }
  
  .input {
    width: 350px; /* Increase the width to make it bigger */
    height: 4rem; /* Increase the height of the input field */
    font-size: 2rem; /* Increase the font size */
    font-family: 'Clash Display Light';
    padding: 12px 64px; /* Adjust the padding for the desired gap */
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all 0.2s ease-in-out;
    outline: none;
    opacity: 0.8;
  }
  
  .container-input svg {
    position: absolute;
    top: 50%;
    left: 25px; /* Adjust the left position for the icon */
    transform: translate(0, -50%);
    width: 32px; /* Increase the width of the icon */
    height: 32px; /* Increase the height of the icon */
    cursor: pointer; /* Add cursor pointer to indicate clickability */
  }
  
  .input:focus {
    opacity: 1;
    width: 550px; /* Increase the width on focus if needed */
  }
  