.user-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    color:white;
    zoom: 2;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Clash Display Regular";
  }
  
  .user-photo {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    color: #45A29E; 
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    color:white;
    font-family: "Clash Display Regular";
  }
  
  .user-name {
    color:white;
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .user-email {
    font-size: 16px;
    color: #888;
  }
  
  .status {
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .user-stats {
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
  }

  .fav-genre {
    font-family: "Clash Display Regular";
    margin-left: 10px;
  }

  .fav-movies-count{
    font-family: "Clash Display Regular";
    margin-left: 50px;
  }
  
  .stat {
    text-align: center;
  }
  
  .count {
    font-size: 24px;
    font-weight: bold;
  }
  
  .label {
    font-size: 16px;
    color: #888;
  }
  
  .favorite-movies{
    zoom: 0.6;
  }

  .fav-container {
    zoom: 0.8;
    margin-top: 1rem;
    margin-left: 1rem;
    size: 500px;
    display: flex;
    overflow-x: auto; 
    padding-bottom: 1rem;
    scrollbar-width: thin;
    scrollbar-color: #45A29E #1f2833;
    width: calc(100% - 2rem); 
    white-space: nowrap;
    position: relative; 
  }
  
  .fav-container::-webkit-scrollbar {
    height: 8px; 
  }
  
  .fav-container::-webkit-scrollbar-thumb {
    background-color: #45A29E; 
    border-radius: 4px; 
  }
  
  .fav-container::-webkit-scrollbar-track {
    background-color: #1f2833; 
  }

  .checkfav-text{
    font-size: 2rem;
    margin-left: 30px;
    font-family: "Clash Display Light";
  }