.user-container {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    color:white;
    zoom: 2;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Clash Display Regular";
  }
  
  .user-photo {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    color: #45A29E; 
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    color:white;
    font-family: "Clash Display Regular";
  }
  
  .user-name {
    color:white;
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .user-email {
    font-size: 16px;
    color: #888;
  }
  
  .user-stats {
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
  }

  .fav-genre {
    font-family: "Clash Display Regular";
    margin-left: 10px;
  }

  .fav-movies-count{
    font-family: "Clash Display Regular";
    margin-left: 10px;
  }
  
  .stat {
    text-align: center;
  }
  
  .count {
    font-size: 24px;
    font-weight: bold;
  }
  
  .label {
    font-size: 16px;
    color: #888;
  }
  
  .favorite-movies{
    zoom: 0.6;
  }

  .fav-container {
    margin-top: 1rem;
    margin-left: 1rem;
    size: 500px;
    display: flex;
    overflow-x: auto; /* Set overflow-x to 'auto' to enable horizontal scrolling */
    padding-bottom: 1rem;
    scrollbar-width: thin;
    scrollbar-color: #45A29E #1f2833;
    width: calc(100% - 2rem); /* Adjust the width to fit the available space */
    white-space: nowrap;
    position: relative; /* Add relative positioning */
  }
  
  .fav-container::-webkit-scrollbar {
    height: 8px; /* Set the height of the scrollbar */
  }
  
  .fav-container::-webkit-scrollbar-thumb {
    background-color: #45A29E; /* Set the color of the scrollbar thumb */
    border-radius: 4px; /* Add border radius to the thumb */
  }
  
  .fav-container::-webkit-scrollbar-track {
    background-color: #1f2833; /* Set the color of the scrollbar track */
  }